<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="LicenceKey" value="587682495" />
    <add key="LicenceValue" value="NYDAlySr6I+cL3UN9kV4L7s2O44+jLcNwmJ2aMWgJIiY/Zm/jkIL/p6/2SipZ/JZS7vus+D75m0="/>
    <add key="AppName" value="BonsaiShowcase" />
  </appSettings>
</configuration>
