<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="LicenceKey" value="587682495" />
    <add key="LicenceValue" value="NYDAlySr6I+cL3UN9kV4L7s2O44+jLcNwmJ2aMWgJIhZn+ixAwD2fYql59hQI4eZMLGXAEBFUyA="/>
    <add key="AppName" value="BonsaiShowcase" />
  </appSettings>
</configuration>
