<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="LicenceKey" value="587682495"/>
    <add key="LicenceValue" value="NYDAlySr6I+neL8hNPp1uejOMs2KPywXnPCMWQMqgqgMsd5bTRhEI5qwUgv2w8OzE3ffOvCOL68=" />
    <add key="ApplicationName" value="RekindleLearing" />
  </appSettings>
</configuration>
